*{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

label{
    height: auto;
    width: auto;
}


body{
    position: fixed;
}

.position_zero{
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#main_container{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#select_screen{
    position: absolute;
    overflow-y: auto;
    border: 1px dashed red;
    top: 5%;
    width: 50%;
}

#game_screen{
    position: fixed;
    border: 1px dashed red;
    left: 50%;
    width: 50%;
}

.select_container{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 25vh;
    width: 100%;
    height: 90%;
    background-color: white;
    text-align: center;
    align-items: center;
}

#game_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 100%;
    width: 100%;
    height: 50%;
}

#making_recipe{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 100%;
    width: 100%;
    height: 50%;
}

.radio+label{
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 5vh;
    background-color: aqua;
    transition-duration: 0.5s;
    z-index: 2;
}

.radio:checked+label{
    height: 7vh;
    background-color: red;
}

#imformation_checkbox+label{
    display: inline-block;
    position: absolute;
    width: 7%;
    height: 5vh;
    background-color: aqua;
    transition-duration: 0.5s;
    z-index: 2;
}

#imformation_checkbox:checked+label{
    background-color: red;
}

#imformation{
    background-color: aqua;
    height: 10%;
    width: 10%;
    position: absolute;
    display: none;
    z-index: 3;
    pointer-events:none;
}

#LEFT{
    height: 100%;
    width: 50%;
    background-color: aqua;
    animation: 2s ease-in-out;
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 4;
    display: inline-block;
    text-align: center;
    align-items: center;
    overflow: hidden;
    transform-origin: left;
}

#LEFT > *{
    position: absolute;
    transform: translate(-50%, -50%);
}

#LEFT > img{
    top: 22%;
    left: 50vw;
    height: 30%;
}

#LEFT > div{
    top: 45%;
    left: 50vw;
    width: 30%;
}

#LEFT > label{
    top: 85%;
    left: 50vw;
    height: 7vh;
    width: 20vw;
    background-color: white;
}

#LEFT > label > div{
    text-align: center;
    transform: translate(0%, 60%);
}

#LEFT > span {
    transform: translate(0%, 0%);
    left: 50vw;
    width: 1000px;
    top: -10vh;
    height: 120vh;
    box-shadow: 250px 0px 100px rgba(255,255,255, 0.9);
    animation: 2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes shine_LEFT{
    0%{
        box-shadow: 50px 0px 100px rgba(255,255,255, 1);
    }
    100%{
        box-shadow: -450px 0px 200px rgba(255,255,255, 0.7);
    }
}

#RIGHT{
    height: 100%;
    width: 50%;
    left: 50%;
    background-color: aqua;
    animation: 2s ease-in-out;
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 4;
    display: inline-block;
    text-align: center;
    align-items: center;
    overflow: hidden;
    transform-origin: right;
}

#RIGHT > *{
    position: absolute;
    transform: translate(-50%, -50%);
}

#RIGHT > img{
    top: 22%;
    left: 0;
    height: 30%;
}

#RIGHT > div{
    top: 45%;
    left: 0;
    width: 30%;
}

#RIGHT > label{
    top: 85%;
    left: 0;
    height: 7vh;
    width: 20vw;
    background-color: white;
}

#RIGHT > label > div{
    text-align: center;
    transform: translate(0%, 60%);
}

#RIGHT > span {
    transform: translate(0%, 0%);
    RIGHT: 50vw;
    width: 1000px;
    top: -10vh;
    height: 120vh;
    box-shadow: -250px 0px 100px rgba(255,255,255, 0.9);
    animation: 2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes shine_RIGHT{
    0%{
        box-shadow: -50px 0px 100px rgba(255,255,255, 1);
    }
    100%{
        box-shadow: 450px 0px 200px rgba(255,255,255, 0.7);
    }
}

#MID{
    height: 100%;
    width: 100%;
    background-color: white;
    animation: 2s ease-in;
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 3;
    display: inline-block;
    pointer-events:none;
}

@keyframes LEFT {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
        display: none;
    }
}

@keyframes RIGHT {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
        display: none;
    }
}

@keyframes MID {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}