*{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

label{
    border: 1px dashed red;
    height: auto;
    width: auto;
}

.position_zero{
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#main_container{
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#select_screen{
    position: absolute;
    overflow-y: auto;
    border: 1px dashed red;
    top: 5%;
    width: 50%;
}

#game_screen{
    position: fixed;
    border: 1px dashed red;
    left: 50%;
    width: 50%;
}

.select_container{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 25vh;
    width: 100%;
    height: 90%;
    background-color: white;
}

#game_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 100%;
    width: 100%;
    height: 50%;
}

#making_recipe{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 100%;
    width: 100%;
    height: 50%;
}

.radio+label{
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 5vh;
    background-color: aqua;
    transition-duration: 0.5s;
    z-index: 2;
}

.radio:checked+label{
    height: 7vh;
    background-color: red;
}

#imformation_checkbox+label{
    display: inline-block;
    position: absolute;
    width: 5%;
    height: 5vh;
    background-color: aqua;
    transition-duration: 0.5s;
    z-index: 2;
}

#imformation_checkbox:checked+label{
    background-color: red;
}

#imformation{
    background-color: white;
    border: 1px dashed red;
    height: 10%;
    width: 10%;
    position: absolute;
    display: none;
    z-index: 3;
    pointer-events:none;
}



/**
.radio:checked{
}
*/
